<div class="jumbotron">
  <h1>myRetail</h1>
  <p class="lead">
    <img src="images/target_logo.png" alt="myRetail"><br>
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="/#/products">Manage your products
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </p>
</div>
