<div class="container" ng-controller="ProductCtrl">
  <!-- Product Modal-->
  <modal title="Product Details" visible="showModal" modal-template="product">
  </modal>
  <!-- Product Modal-->
  <div class="errors-container">
    <label ng-bind="error"></label>
  </div>
  <div class="well well-sm">
    <strong>All Products</strong>
    <div class="btn-group">
      <a class="btn btn-success" ng-click="showAddModal()">Add Product</a>
    </div>
  </div>
  <div id="products" class="row list-group" >
    <div class="item  col-xs-4 col-lg-4" ng-repeat="product in products">
      <div class="thumbnail">
        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            {{product.title}}</h4>
          <p class="group inner list-group-item-text">
           {{product.description}}</p>
          <span class="badge" ng-show="product.active">Active</span>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                {{product.price | currency:"$"}}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                  Action
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="" ng-click="showUpdateModal(product)">Update</a></li>
                  <li><a tabindex="-1" href="" ng-click="toggleActivate(product.id,true)" ng-hide="product.active">Activate</a></li>
                  <li><a tabindex="-1" href="" ng-click="toggleActivate(product.id,false)" ng-show="product.active">Deactivate</a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="" ng-click="delete(product.id)">Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
