<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <label>{{modalError}}</label>
      <div class="modal-body"><form role="form">
        <input type="hidden" ng-model="productId"/>
        <div class="form-group"><label for="title">Product Title</label>
          <input type="text" class="form-control" id="title" ng-model="productTitle" placeholder="Product title ..." />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" ng-model="productDescription" placeholder="Description ..." />
        </div>
        <div>
          <label>Active</label><input type="checkbox" class="form-control" id="active" ng-model="productActive"/>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price"
                 onkeypress="if(isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" ng-model="productPrice" placeholder="Price ..." />
        </div>
        <button type="submit" class="btn btn-default" ng-click='modalAction(action)'>Save</button>
      </form>
      </div>
    </div>
  </div>
</div>'
